header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
nav {
    margin: 0;
    max-width: unset;
    width: 100vw;
    display: flex;
    justify-content: flex-end !important;
    ul {
        max-width: 1000px;

    }
}