/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    font-family: "Reddit Sans";
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    overflow-x: hidden;
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}

main {
    margin: 0.5rem $gutter;
    display: flex;
    flex-flow: column;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
    
} // end header

#navWrapper {
    background-color: $primaryColor;
    nav {
        width: 100vw;
        display: flex;
        justify-content: center;
        ul {
            padding: 0;
            li {
                text-align: center;
                padding-left: $gutter;
                width: 100%;
                list-style: none;
                padding: 5px;
                &.active {
                    background-color: $accentColor;
                   }
                a{
                    text-decoration: none;
                    color: white;
                   &:hover {
                    text-decoration: underline;
                    text-decoration-style: wavy;
                   }
                }
            }
        }
    }

    .hero {
        background-color: white;
        padding-top: 1rem;
        width: 100vw;
        display: block;
        img {
            width: 100%;
        }
    }   
}


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */














/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}// end main



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $greyColor;
    text-align: center;
    line-height: $leading;
    a {color: $greyColor;}
}// end footer